*~
.DS_Store
*.core
*.dvi
*.log
*.blg
*.aux
*.o
*.a
*_m.cc
*_m.h
*.db
fognetpp
fognetpp_dbg
out/*
*.sca
*.vec
*.vci
.settings/
.cproject
.nedexclusions
.oppbuildspec
.project
.nedfolders
src/Makefile
simulations/*
simulations/Runfile
simulations/.*
simulations/analysis
simulations/*.json
simulations/*.ini
.vscode/*